<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <withJansi>true</withJansi>
        <encoder>
            <pattern> %red(%d{HH:mm:ss.SSS}) %highlight(%-5level) %blue([%thread]) %yellow(%-40logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name = "FILE" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/log.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%10thread] %-40logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/log_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "FILE"/>
        <appender-ref ref = "CONSOLE"/>
    </root>
</configuration>
